@font-face {
    font-family: "font-1";
    src: url(../Fonts/free-fa-brands-400.woff2);
}
@font-face {
    font-family: "font-2";
    src: url(../Fonts/free-fa-regular-400.woff2);
}
@font-face {
    font-family: "font-3";
    src: url(../Fonts/free-fa-solid-900.woff2);
}
@font-face {
    font-family: "font-4";
    src: url(../Fonts/jizaRExUiTo99u79D0KExQ.woff2);
}
@font-face {
    font-family: "font-5";
    src: url(../Fonts/jizfRExUiTo99u79B_mh0O6tLQ.woff2);
}

:root {
    --primary-color: #d35649;
    --primary-gray : #98a5a5;
    --light-gray : #eee;
    --primary-blue : #509bd7;
    --gray-footer : #1f1f1f;
    --gray-footer-btn : #444;
    --primary-purple : #575a89;
}
.primary-color {
    color: var(--primary-color);
}
.primary-gray {
    color: var(--primary-gray);
}
.light-gray {
    color: var(--light-gray);
}
.primary-blue {
    color: var(--primary-blue);
}
.gray-footer {
    color: var(--gray-footer);
}
.gray-footer-btn {
    color: var(--gray-footer-btn);
}
.primary-purple {
    color: var(--primary-purple);
}
/* -----STYLE index.html------- */
nav {
    background-color: var(--primary-color);
    height: 90px;
}

#couleur-svg {
    fill: var(--light-gray);
}
#couleur-svg:hover {
    fill: var(--primary-gray);
}
.cont1 .logo {
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 2px 1px 0px #5a639f;
}
.cont1 ul li a:hover {
    color: var(--primary-gray);
}

.container2 {
    /* The image used */
    background-image: url(../Images/group-1.jpg);
  
    /* Control the height of the image */
    height: 407px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container2 form {
    justify-content: center;
    align-items: center;
    width: 44%;
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 8px;
    margin-top: -75px;
}
.container2 h4{
    color: var(--light-gray);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    margin-top: 70px;
}

.container2 h6{
      font-family: 'font-5';
}
  /* Full-width input fields */
.container2 input{
    width: auto;
    padding: 2px;
    border-right: none;
    border: 2px solid var(--primary-gray);
    border-radius: 3px;
}
#col-bg-input{
    background: white;
}
  /* Set a style for the submit button */
.container2 .btn {
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
    font-weight: bold;
    margin-left: -5px;
}

.container2 .btn a {
    text-decoration: none;
    color: white;
    padding: 4px;
}
.container2 .contwork {
    margin-top: -196px;
}
.container2 .work {
    background-color: var(--light-gray);
    color: black;
    padding: 4px;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
    font-weight: bold;
}
.btn:hover {
    opacity: 1;
}
.steps {
    margin: auto;
}

footer {
    background-color: var(--gray-footer-btn);
}
footer p {
    font-size: 0.5em;
}
footer figure {
    margin-bottom: 0px;
}
footer svg{
    margin: auto 20px;
}
.steps .logo {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 800;
    font-family: 'font-5';
    font-size: 1em;
    height: 68px;
}
.box1 {
    flex-direction: column;
    margin: 0;
}

.box2 {
    flex-direction: column-reverse;
}
.contain1 .work {
    font-size: 1.3em;
    color: var(--primary-color);
    font-weight: 700;
}
.contain2 .part1, .contain2 .part2 {
    height: 369px;
}
.contain2 .part1 p, .contain2 .part2 p {
    height: 250px;
}

.contain2 .parts {
    height: 205px;
    margin-bottom: 20px;
}
.container4 {
    background-color: var(--primary-color);
    height: 300px;
    color: var(--light-gray);
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-around;
}

.container5 {
    background-color: var(--primary-gray);
    height: 300px;
    color: var(--light-gray);
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-around;
}

.container6 {
    background-color: var(--primary-blue);
    height: 300px;
    color: var(--light-gray);
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-around;
}
.container4 .textes, .container5 .textes, .container6 .textes{
    width: 44%;
    position: absolute;
}

.container4 img, .container5 img, .container6 img {
    border-radius: 50%;
    width: 300px;
    height: 233px;
}
.container7 {
    display: flex;
    background-color: #1f1f1f;
    height: 123px;
}
.container7 {
    display: flex;
    background-color: #1f1f1f;
    height: 123px;
    border-top: 0px;
}
.container7 .boutons {
    width: 60%;
    display: flex;
}
.container7 .boutons p{
    width: auto;
    font-size: 0.8vw;
    font-weight: 600;
    border-top: 2px solid var(--primary-gray);
    border-bottom: 2px solid var(--primary-gray);
    text-align: center;
    margin-top: 19px;
}
.container7 .boutons p a{
    color: var(--light-gray);
    text-decoration: none;
}
.container7 .boutons p a:hover{
    color: var(--primary-gray);
}
.container7 .boutons .rond {
    border-radius: 50%;
    border: 2px solid var(--primary-gray);
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
#couleur-svg-rond {
    fill: var(--light-gray);
}
.rond svg{
    margin-top: 14px;
}
.rond svg :hover{
    color: var(--primary-gray); 
}
.container8 {
    display: flex;
    background-color: #1f1f1f;
    height: 200px;
    border-top: 0px;
    color: var(--light-gray);
}
.container8 .col-4 {
    height: 180px;
}
.container8 h4 {
    margin-bottom: 24px;
}
.container8 input {
    width: auto;
    background-color: transparent;
    color: var(--light-gray);
    border: 1px solid var(--primary-gray);
    padding: 0;
    border-right: 0;
    text-align: center;
    font-size: 0.9em;
}
.container8 .btn {
    background-color: var(--gray-footer-btn);
    color: var(--light-gray);
    width: auto;
    border: 1px solid var(--primary-gray);
}
.container8 a {
    color: var(--primary-color);
    font-size: 0.9em;
    text-decoration: none;
}
.container8 a:hover{
    text-decoration: underline;
}
.container8 span a {
    color: var(--primary-color);
}
#couleur-svg2 {
    fill: var(--light-gray);
}
#couleur-svg2:hover {
    fill: var(--primary-blue);
}
@media (max-width: 768px) {

    .cont1 ul {
        justify-content: center;
        align-items: center;
    }
    .cont1 ul a {
        padding: 0;
    }
    .cont1 ul a p{
        display: none;
    }
    .container1 input{
        width: 100%;
        padding: 4px;
        border: none;
        background: #f1f1f1;
        border: 1px solid var(--primary-gray);
        opacity:0.6;
      }
      /* Set a style for the submit button */
    .container1 .btn {
        background-color: var(--primary-color);
        padding: 5px 20px;
        width: 100%;
        margin-left: 0;
    }
    .container2 h4 {
        margin-top: 26px;
        font-size: 1.2em;
        width: auto;
    }
    .container2 form {
        width: auto;
    }
    .steps {
        display: none;
    }
    .box1 {
        display: none;
    }
    .container4, .container5, .container6 {
        position: relative;
        text-align: center;
    }
    .container4 {
        background-color: var(--primary-color);
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
        order: 1;
    }
    .container4 img, .container5 img, .container6 img {
        border-radius: 56px;
        width: 100%;
        height: 242px;
        position: initial;
        justify-content: center;
    }
    .container4 .textes, .container5 .textes, .container6 .textes {
        width: 83%;
        height: 2vh;
        text-align: justify;
        display: flex;
        flex-direction: column-reverse;
    }
    .container4 .textes h1, .container5 .textes h1, .container6 .textes h1 {
        font-size: 1em;
    }
    .container4 .textes p, .container5 .textes p, .container6 .textes p {
        line-height: initial;
        order: 2;
        font-family: 'font-5';
        font-size: 0.9em;
    }
    .container5 {
        background-color: var(--primary-gray);
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
        order: 1;
    }
    .container6 {
        background-color: var(--primary-blue);
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
    }
    .container4 .btn {
        background-color: transparent;
        position: relative;
        top: 50px;
        color: var(--primary-color);
        font-weight: bold;
        width: 116px;
        height: 50px;
        padding: 0;
        order: 1;
        margin-left: -5px;
    }
    .container5 .btn{
        background-color: transparent;
        position: relative;
        top: 45px;
        color: var(--primary-gray);
        font-weight: bold;
        width: 210px;
        height: 50px;
        padding: 0;
        order: 1;
        margin-left: -5px;
    }
    .container7 {
        display: none;
    }
    .container8 {
        display: none;
    }
}
@media (min-width: 769px) {
    .box2{
        display: none;
    }
    .container4 .btn {
        background-color: var(--light-gray);
        padding: 4px;
        border: none;
        cursor: pointer;
        width: auto;
        border-radius: 0;
    }
    .container4 .btn a {
        color: var(--primary-color);
        text-decoration: none;
    }
    .container5 .btn {
        background-color: var(--light-gray);
        padding: 4px;
        border: none;
        cursor: pointer;
        width: auto;
        border-radius: 0;
    }
    .container5 .btn a{
        color: var(--primary-gray);
        text-decoration: none;
    }
}

/* -----STYLE search.html------- */
.cont-search1 {
    margin-top: 20px;
}
.cont-search1, .cont-search2 {
    background-color: var(--light-gray);
}
.cont-search1 h1 {
    color: var(--primary-gray);
    font-weight: 600;
}
.images {
    width: 100%;
    display: flex;
    position: relative;
}
.images img{
    background-color: #d35649;
    padding: 20px;
    width: 421px;
    height: auto;
}