@font-face {
    font-family: "font-1";
    src: url(../Fonts/free-fa-brands-400.woff2);
}
@font-face {
    font-family: "font-2";
    src: url(../Fonts/free-fa-regular-400.woff2);
}
@font-face {
    font-family: "font-3";
    src: url(../Fonts/free-fa-solid-900.woff2);
}
@font-face {
    font-family: "font-4";
    src: url(../Fonts/jizaRExUiTo99u79D0KExQ.woff2);
}
@font-face {
    font-family: "font-5";
    src: url(../Fonts/jizfRExUiTo99u79B_mh0O6tLQ.woff2);
}

:root {
    --primary-color: #d35649;
    --primary-gray : #98a5a5;
    --light-gray : #eee;
    --primary-blue : #509bd7;
    --gray-footer : #1f1f1f;
    --gray-footer-btn : #444;
    --primary-purple : #575a89;
}
.primary-color {
    color: var(--primary-color);
}
.primary-gray {
    color: var(--primary-gray);
}
.light-gray {
    color: var(--light-gray);
}
.primary-blue {
    color: var(--primary-blue);
}
.gray-footer {
    color: var(--gray-footer);
}
.gray-footer-btn {
    color: var(--gray-footer-btn);
}
.primary-purple {
    color: var(--primary-purple);
}
nav {
    background-color: var(--primary-color);
    height: 90px;
}

#couleur-svg {
    fill: var(--light-gray);
    transition: ease-in 0.2s all;
}
#couleur-svg:hover {
    fill: var(--primary-gray);
}
.cont1 .logo {
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 2px 1px 0px #5a639f;
}
.cont1 ul li a:hover {
    color: var(--primary-gray);
}

.bg-img {
    /* The image used */
    background-image: url(../Images/group-1.jpg);
  
    /* Control the height of the image */
    min-height: 410px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .bg-img h4{
    color: var(--light-gray);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    margin-top: 4%;
  }
  
  /* Add styles to the form container */
  .container {
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    width: 44%;
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 8px;
  }
  .container h6{
      font-family: 'font-5';
  }
  /* Full-width input fields */
.container input{
    width: 50%;
    padding: 2px;
    border-right: none;
    border: 2px solid var(--primary-gray);
    border-radius: 3px;
}
#col-bg-input{
    background: white;
}
  /* Set a style for the submit button */
.container .btn {
    background-color: var(--primary-color);
    color: white;
    padding: 4px;
    border: none;
    cursor: pointer;
    width: 14%;
    opacity: 0.9;
    font-weight: bold;
    margin-left: -5px;
}
.btn:hover {
    opacity: 1;
}
footer {
    background-color: var(--gray-footer-btn);
}
footer p {
    font-size: 0.5em;
}
footer figure {
    margin-bottom: 0px;
}
footer svg{
    margin: auto 20px;
}
.steps .logo {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 800;
    font-family: 'font-5';
    font-size: 1em;
}
.contain1 .work {
    font-size: 1.3em;
    color: var(--primary-color);
    font-weight: 700;
} 
.container2 {
    height: 430px;
}
.container4 {
    background-color: var(--primary-color);
    height: 300px;
    color: var(--light-gray);
}
.container5 {
    background-color: var(--gray-footer-btn);
    height: 300px;
    color: var(--light-gray);
}
.container6 {
    background-color: var(--primary-blue);
    height: 300px;
    color: var(--light-gray);
}
.container4 .textes, .container5 .textes, .container6 .textes{
    width: 44%;
}

.container4 .photo img, .container5 .photo img, .container6 .photo img {
    border-radius: 50%;
    min-width: 35%;
    min-height: 242px;
}
.container4 .btn{
    background-color: var(--light-gray);
    color: var(--primary-color);
    padding: 4px;
    border: none;
    cursor: pointer;
    width: 23%;
    font-weight: bold;
}
.container5 .btn {
    background-color: var(--light-gray);
    color: var(--gray-footer-btn);
    padding: 4px;
    border: none;
    cursor: pointer;
    width: 30%;
    font-weight: bold;
}
@media (max-width: 768px) {

    .cont1 ul {
        justify-content: center;
        align-items: center;
    }
    .container input{
        width: 100%;
        padding: 4px;
        border: none;
        background: #f1f1f1;
        border: 1px solid var(--primary-gray);
        opacity:0.6;
      }
      /* Set a style for the submit button */
    .container .btn {
        background-color: var(--primary-color);
        padding: 5px 20px;
        width: 100%;
        margin-left: 0;
      }
    .steps{
        display: none;
    }
}
@media (max-width: 1200px) {
    .bg-img h4 {
        margin-top: 20%;
    }
    .container {
        position: relative;
        margin: 1%;
        width: 60%;
    }
}